<div class="container">
  <h1>New Entity</h1>


  <%= form_with  model: @entity, method: :post, data: { turbo: false }, local: true do |f| %>
    <div class="form-group">
      <br>
      <%= f.text_field :name, class: "form-control", placeholder: 'Name' %>
    </div>
    <div class="form-group">
      <br>
      <%= f.number_field :amount, class: "form-control" , placeholder: 'Number'%>
    </div>
    <div class="form-group">
      <br>
      <%= f.submit "Create Entity", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

