<p style="color: green"><%= notice %></p>


<div>
  <h1>Group Transactions</h1> 
  <%= link_to 'Transactions', group_entities_path(@group), class: 'btn btn-primary btn-sm' %>
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
